/* COMMON */

* {
  margin: 0;
  padding: 0;
}

.inner {
  padding: 20px;
}

.header {
  padding: 15px;
  background-color: #3498da;
  border: 2px solid #3498da;
}

.header p {
  color: white;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #363638;
}

li {
  list-style: none;
}

.btn {
  display: block;
  width: 100%;
  font-size: 25px;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
  font-weight: 700;
  cursor: pointer;
  color: #fff;

}